<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello World!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/20638719_10211738361468027_2424830340632600637_n.jpg?_nc_cat=107&_nc_ht=scontent-sea1-1.xx&oh=dbd8eb3d299ad1f928b87f0d204b9bbe&oe=5CE2A326"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>My Name is Nancy Burleson</ion-card-subtitle>
        <ion-card-title>Welcome to my world</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>I will show you a few things about myself so you get to know me a little better.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
