.welcome-card ion-img {
  max-height: 95vh;
  overflow: hidden;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-title {
  color: rgb(102, 11, 26);
  font-family: script MT;
  font-style: italic bold;
  text-align: center;
  font-size: 2em;
}

ion-card-title {
  color: rgb(102, 11, 26);
  font-family: Hand;
  text-align: center;
}

ion-card-subtitle{
  color: rgb(46, 20, 117);
  font-family: arial;
  font-style: bold;
  text-align: center;
  font-size: 1.5em;
}
p{
  color: black;
  text-align: center;
}