<ion-header>
  <ion-toolbar>
    <ion-title>
      Interesting facts about myself
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Things I like:</ion-card-subtitle>
      <p>I like to dance,<br>
      I like to eat,<br>
      I like to swimm (even though I don't really know how to),<br>
      I like to cook (sometimes I don't say it outloud so I don't<br>
      have to cook all the time),<br>
      And I really enjoy spending time with my family.</p>
      <ion-card-title>Don't Judge!!!</ion-card-title>
      <ion-card-subtitle>Things I don't like:</ion-card-subtitle>
      <p>
        I don't like to go to the movies,<br>
        I don't like to go shooting,<br>
        I don't like to go grocery shopping,<br>
        And anything I don't like to do my <br>
        husband likes to do, so I do it anyways <br>
        because it makes him happy.
      </p>
    </ion-card-header>
    <ion-card-content>
      <p>I am a friendly and nice person, when you know how to approach me, otherwise I may seem like the grinch, which is actually one of my nicknames (given to me by my little sister lol).</p>
    </ion-card-content>
  </ion-card>
</ion-content>
