  ion-title {
    color: rgb(97, 73, 7);
    font-family: script MT;
    text-align: center;
    font-size: 3em;
  }

  ion-card-title {
    color: rgb(139, 39, 8);
    font-family: cursive;
    text-align: center;
  }
  p{
    color: rgb(58, 6, 17);
    text-align: center;
    font-size: 1.5em;
  }
  ion-card-subtitle{
    text-align: center;
    color: rgb(58, 6, 55);
  }
